<!-- Start Profile section -->
<section class="profile" id="navprofile">
<!-- Start Head section -->
<header class="head">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                <img class="logo-page" src="./assets/img/profile_l.png" alt="Ukieweb">
            </div>
            <div class="col-xs-12 col-sm-7 col-lg-7">
                <!-- Title Page -->
                <h2 class="title">Profile</h2>
                <!-- Description Page -->
                <h4 class="sub-title">A Brief About Me</h4>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</header>
<!-- End Head section -->

<!-- Start Content section -->
<section class="content border-bottom padding-block">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-7 padding-bottom">
                <h3 class="title">Hello, I am web develoer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.</p>
                <p>
                    <a href="#navcontact" class="btn btn-color hover-animate">Hire me Now</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-5">
                <div class="block-grey">
                    <table>
                        <tr>
                            <td class="font-weight-m">Name</td>
                            <td class="text-right">Sheikh Zaid</td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Date of birth</td>
                            <td class="text-right">December 24, 1993</td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">E-mail</td>
                            <td class="text-right"><a href="mailto:contact@zaid.com">contact@zaid.com</a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Address</td>
                            <td class="text-right">Srinagar, Jammu And Kashmir</td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Phone</td>
                            <td class="text-right"><a href="tel:01234567890">012-3456-7890</a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Website</td>
                            <td class="text-right"><a href="www.zaid.com">zaid.com</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-weight-m"><i class="fa fa-circle green-marker" aria-hidden="true"></i>Available for freelance</td>
                        </tr>
                        <!--
                         <tr>
                             <td colspan="2" class="font-weight-m"><i class="fa fa-circle red-marker" aria-hidden="true"></i>Not available for freelance</td>
                         </tr>
                         <tr>
                             <td colspan="2" class="font-weight-m"><i class="fa fa-circle orange-marker" aria-hidden="true"></i>In vacation till septembre 29</td>
                         </tr>
                         -->
                    </table>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Content section -->

                <!-- Start Info section -->
                
<section class="info border-bottom padding-block text-center">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h3 class="title">What i’m doing</h3>
            </div>
        </div>
        <!-- end row -->
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-desktop"></i></span>
                    <span class="name hover-animate">Web development</span>
                </div>
                <div class="circle-block ">
                    <span class="icon hover-animate"><i class="fa fa-android"></i></span>
                    <span class="name hover-animate">Applications</span>
                </div>
                
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-photo"></i></span>
                    <span class="name hover-animate">Illustrations</span>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Info section -->