<!-- Start Blog section -->
<section class="blog" id="navblog">
    <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                    <img class="logo-page" src="./assets/img/blog_l.png" alt="Ukieweb">
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <!-- Title Page -->
                    <h2 class="title">Blog</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">I write here my thoughts</h4>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->

    <div class="padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <!-- start post -->
                    <div class="post">
                        <!-- start photo -->
                        <div class="photo">
                            <img src="assets/img/blog/post-1.png" alt="UkieWeb">
                        </div>
                        <!-- end photo -->
                        <!-- start title post -->
                        <h3 class="title title-blog">Standard Post with Image</h3>
                        <!-- end title post -->
                        <div class="entry-byline">
                            <i class="fa fa-user"></i>
                <span class="entry-author right-border">
                    <a href="#" title="Posts by Theme Admin" rel="author" >
                        <span>Sheikh Zaid</span>
                    </a>
                </span>
                            <i class="fa fa-clock-o"></i>
                            <time class="entry-published right-border">30/04/2015</time>
                        </div>
                        <!-- start desc post -->
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum dolor.</p>
                        <!-- end desc post -->
                        <a href="post-img.html" class="btn hover-animate btn-color-hover">Read More</a>
                    </div>
                    <!-- end post -->


                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <!-- start post -->
                    <div class="post last">
                        <!-- start photo -->
                        <div class="photo">
                            <img src="assets/img/blog/post-1.png" alt="UkieWeb">
                        </div>
                        <!-- end photo -->
                        <!-- start title post -->
                        <h3 class="title title-blog">Standard Post with Image</h3>
                        <!-- end title post -->
                        <div class="entry-byline">
                            <i class="fa fa-user"></i>
                <span class="entry-author right-border">
                    <a href="#" title="Posts by Theme Admin" rel="author" >
                        <span>Sheikh Zaid</span>
                    </a>
                </span>
                            <i class="fa fa-clock-o"></i>
                            <time class="entry-published right-border">30/05/2015</time>
                        </div>
                        <!-- start desc post -->
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum dolor.</p>
                        <!-- end desc post -->
                        <a href="post-img.html" class="btn hover-animate btn-color-hover">Read More</a>
                    </div>
                    <!-- end post -->
                </div>
            </div>
            <!-- end row -->



            <!-- start row -->
<!--             <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12 text-center btn-center">
        <a href="blog.html" class="btn hover-animate btn-color-hover">Blog page</a>
    </div>
</div> -->
            <!-- end row -->





        </div>
        <!-- end container -->
    </div>
</section>
<!-- End Blog section -->