
<!-- Start Clients section -->
<section class="padding-block text-center clients">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h3 class="title">Clients</h3>
            </div>
        </div>
        <!-- end row -->
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div id="owl-clients" class="owl-carousel owl-theme">
                    <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                    <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                    <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                    <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                    <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                    <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>

                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Clients section -->