
<!-- Start Info section -->
<section class="info border-bottom padding-block text-center">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h3 class="title">Hobbies &amp; Interest</h3>
            </div>
        </div>
        <!-- end row -->
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="circle-block ">
                    <span class="icon hover-animate"><i class="fa fa-futbol-o"></i></span>
                    <span class="name hover-animate">Football</span>
                </div>
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-headphones"></i></span>
                    <span class="name hover-animate">Music</span>
                </div>
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-rocket"></i></span>
                    <span class="name hover-animate">Travelling</span>
                </div>
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-car"></i></span>
                    <span class="name hover-animate">Cars</span>
                </div>
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-gamepad"></i></span>
                    <span class="name hover-animate">Video games</span>
                </div>
                <div class="circle-block">
                    <span class="icon hover-animate"><i class="fa fa-pencil"></i></span>
                    <span class="name hover-animate">Writing</span>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Info section -->

<!-- Start Info section -->
<section class="info padding-block border-bottom text-center">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h3 class="title">Experience</h3>
            </div>
        </div>
        <!-- end row -->
        <!-- start row -->
        <div class="row count">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="total-numbers" data-perc="900">
                    <div class="iconspace"><i class="fa fa-smile-o"></i></div>
                    <div class="info-text">
                        <span class="sum">45</span>
                        happy clients
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="total-numbers" data-perc="900">
                    <div class="iconspace"><i class="fa fa-thumbs-o-up"></i></div>
                    <div class="info-text">
                        <span class="sum">30</span>
                        projects done
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="total-numbers" data-perc="900">
                    <div class="iconspace"><i class="fa fa-birthday-cake"></i></div>
                    <div class="info-text">
                        <span class="sum">1</span>
                        year experience
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="total-numbers" data-perc="900">
                    <div class="iconspace"><i class="fa fa-trophy"></i></div>
                    <div class="info-text">
                        <span class="sum">2</span>
                        contests won
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Info section -->