<!-- Start Instagram Feed section -->
<section class="instagram-feed padding-block border-bottom text-center">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h3 class="title">Instagram Feed</h3>
            </div>
        </div>
        <!-- end row -->
        <!-- start row -->
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-2"  >
                <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Instagram Feed section -->


                <!-- Start Calendar section -->
                
<section class="calendar padding-block border-bottom text-center" >
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h3 class="title">Calendar</h3>
            </div>
        </div>
        <!-- end row -->
        <!-- start row -->
        <div class="row calendar-content">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="today border-right">
                    <div class="valign-outer">
                        <div class="valign-middle">
                            <div class="valign-inner">
                                <div class="date">
                                    <span class="day" id="day">01</span>
                                    <span class="month" id="month">Jan</span>
                                </div>
                                <div class="week-day" id="week-day">Friday</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <div class="custom-calendar-wrap">
                    <div id="custom-inner" class="custom-inner">
                        <div class="custom-header clearfix">
                            <nav>
                                <span id="custom-prev" class="custom-prev"></span>
                                <span id="custom-next" class="custom-next"></span>
                            </nav>
                            <ul>
                                <li><h2 id="custom-month" class="custom-month"></h2></li>
                                <li><h2 id="custom-year" class="custom-year"></h2></li>
                            </ul>
                        </div>
                        <div id="calendar" class="fc-calendar-container">
                        </div>

                    </div>
                </div>

                <ul class="notes">
                    <li><div class="calendar-note">Sorry. I'm not available on those days</div></li>
                    <li><div class="calendar-note today-note">Today</div></li>
                </ul>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Calendar section -->