<!-- Load page -->
<div class="animationload">
<div class="loader"></div>
</div>
<!-- End load page -->

<!-- Start Menu-navigation section -->
<div class="navbar-wrapper" role="navigation">
<div class="container navigation-top">
<div class="navwrapper">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="menuItem active"><a href="#navhome">Home</a></li>
                <li class="menuItem"><a href="#navprofile">Profile</a></li>
                <li class="menuItem"><a href="#navresume">Resume</a></li>
                <li class="menuItem"><a href="#navportfolio">Portfolio</a></li>
                <li class="menuItem"><a href="#navblog">Blog</a></li>
                <li class="menuItem"><a href="#navcontact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<!-- End Menu-navigation section -->

<div id='contents' class="contents">
<div id="wraper" class="wraper-card">

<!-- Start Home section -->
<section id="navhome">
    <!-- Start Home-header section -->
    <nav class="home-header border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                    <!-- Your foto -->
                    <div class="foto">
                        <!-- for man -->
                        <img src="./assets/img/photo.png" alt="zaid">
                        <!-- for women -->
                        <!-- <img src="./assets/img/photo_female.png" alt="zaid"> -->
                    </div>
                    <!-- end your foto -->
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <!-- Your Name -->
                    <h1 class="title">Sheikh Zaid</h1>
                    <!-- Your Profession -->
                    <h3 class="sub-title">UX | UI Developer</h3>
                    <!-- social icon -->
                    <div class="social">
                        <ul class="animated" data-animation="fadeIn" data-animation-delay="600">
                            <!-- social icons -->
                            <li><a class="ukie-icons hover-animate" target="blank" href="https://www.facebook.com/sheikh.zaid.5"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="ukie-icons hover-animate" target="blank" href="https://www.instagram.com/sheikh_zaid_nazir/"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="ukie-icons hover-animate" target="blank" href="https://www.linkedin.com/in/zaid-nazir-796196149/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-dribbble"></i></a></li>
                            
                            <!--
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-digg"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-deviantart"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-envelope-square"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-delicious"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-dropbox"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-tumblr"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-github-alt"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-renren"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-xing"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-rss"></i></a></li>
                            -->
                        </ul>
                    </div>
                    <!-- end social icon -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </nav>
    <!-- End Home-header section -->

    <!-- Start Menu section -->
    <nav class="menu"  id="menu">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">

                    <!-- start menu block (profile) -->
                    <a href="#navprofile" class="menu-li">
                        <!-- img menu block -->
                <span class="foto">
                    <!-- for man -->
                    <img src="./assets/img/menu/profile.png" class="menu-img" data-img-name="profile" alt="zaid" />
                    <!-- for women -->
                    <!--  <img src="./assets/img/menu/profile_female.png" class="menu-img" data-img-name="profile_female" alt="zaid" /> -->
                </span>
                        <!-- name menu block -->
                        <span class="name">Profile</span>
                    </a>
                    <!-- end menu block (profile) -->

                    <!-- start menu block (resume) -->
                    <a href="#navresume" class="menu-li">
                        <!-- img menu block -->
                <span class="foto">
                    <img src="./assets/img/menu/resume.png" class="menu-img" data-img-name="resume" alt="zaid">
                </span>
                        <!-- name menu block -->
                        <span class="name">Resume</span>
                    </a>
                    <!-- end menu block (resume) -->

                    <!-- start menu block (portfolio) -->
                    <a href="#navportfolio" class="menu-li">
                        <!-- img menu block -->
                <span class="foto">
                    <img src="./assets/img/menu/portfolio.png" class="menu-img" data-img-name="portfolio" alt="zaid">
                </span>
                        <!-- name menu block -->
                        <span class="name">Portfolio</span>
                    </a>
                    <!-- end menu block (portfolio) -->

                    <!-- start menu block (blog) -->
                    <a href="#navblog" class="menu-li">
                        <!-- img menu block -->
                <span class="foto">
                    <img src="./assets/img/menu/blog.png" class="menu-img" data-img-name="blog" alt="zaid">
                </span>
                        <!-- name menu block -->
                        <span class="name">Blog</span>
                    </a>
                    <!-- end menu block (portfolio) -->

                    <!-- start menu block (contact) -->
                    <a href="#navcontact" class="menu-li">
                        <!-- img menu block -->
                <span class="foto">
                    <img src="./assets/img/menu/contact.png" class="menu-img" data-img-name="contact" alt="zaid">
                </span>
                        <!-- name menu block -->
                        <span class="name">Contact</span>
                    </a>
                    <!-- end menu block (contact) -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </nav>
    <!-- End Menu section -->
</section>
<!-- End Home section -->