
<!-- Start Portfolio section -->
<section class="portfolio-header" id="navportfolio">
    <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                    <img class="logo-page" src="./assets/img/portfolio_l.png" alt="Ukieweb">
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <!-- Title Page -->
                    <h2 class="title">Portfolio</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">Some of My Works</h4>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->

    <!-- Start Portfolio section -->
    <div class="portfolio-section padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row padding-bottom">
                <!-- Portfolio -->
                <div class="portfolio">

                    <div class="filter_div controls">
                        <div class="col-xs-12 col-sm-12 col-lg-11">
                            <ul>
                                <li class="hover-animate filter" data-filter="all">All</li>
                                <li class="hover-animate filter" data-filter=".category-1">Web design</li>
                                <li class="hover-animate filter" data-filter=".category-2">Illustrations</li>
                                <li class="hover-animate filter" data-filter=".category-3">Applications</li>
                            </ul>
                        </div>
                    </div>

                    <div id="portfolio-grid">

                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="1">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-0">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Abcd</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="2">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-1" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-1">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-1" data-value="3">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-2" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-2">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-1" data-value="4">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate"  href="#work-3" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-3">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="5">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-4" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-4">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-3" data-value="6">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-5" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-5">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-3" data-value="7">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-6" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-6">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="8">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-7" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-7">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="9">
                            <div class="within">

                                <img src="assets/img/portfolio/p-1.png" alt="Alt">
                                <div class="port-item-cont">
                                    <h3 class="title">Project Title</h3>
                                    <p class="desc">Your Project description</p>
                                    <a class="fancybox popup-content view-work hover-animate" href="#work-8" rel="mygallery">View details</a>
                                </div>

                                <div class="hidden">
                                    <div class="podrt-desc" id="work-8">
                                        <div class="modal-box-content">
                                            <img src="assets/img/portfolio/p_b-1.png" alt="Alt">
                                            <div class="text">
                                                <h3 class="title">Project Title</h3>
                                                <table>
                                                    <tr>
                                                        <td class="font-weight-m width-td">Completed</td>
                                                        <td>November 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-m">Client</td>
                                                        <td>Taha</td>
                                                    </tr>
                                                </table>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                    sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                <a href="" class="btn btn-color">See Live</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
                <!-- end Portfolio -->
            </div>
            <!-- end row -->
            <!-- start row -->



            <!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 text-center btn-center">
                    <a href="blog.html" class="btn hover-animate btn-color-hover">See all</a>
                </div>
            </div> -->


            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- End Portfolio section -->
</section>
            <!-- End Portfolio section -->