<!-- Start Resume section -->
<section class="resume" id="navresume">
<!-- Start Head section -->
<header class="head">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                <img class="logo-page" src="./assets/img/resume_l.png" alt="Ukieweb">
            </div>
            <div class="col-xs-12 col-sm-7 col-lg-7">
                <!-- Title Page -->
                <h2 class="title">Resume</h2>
                <!-- Description Page -->
                <h4 class="sub-title">My Academic Qualifications</h4>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</header>
<!-- End Head section -->

<!-- Start Content section -->
<section class="content padding-block border-bottom">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                <h3 class="title title-resume">Education</h3>
                <div class="block-grey">
                    <div id="education-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <table>
                                <tr>
                                    <td class="font-weight-m width-td">Name</td>
                                    <td>New Convent Higher Secondary</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Address</td>
                                    <td>Gogji Bagh ,Srinagar</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Period</td>
                                    <td>1997-2011</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Level</td>
                                    <td>12th</td>
                                </tr>
                            </table>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi.
                            </p>
                        </div>
                        <div class="item">
                            <table>
                                <tr>
                                    <td class="font-weight-m width-td">Name</td>
                                    <td>Amar Singh College</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Address</td>
                                    <td>Gogji Bagh, Srinagar</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Period</td>
                                    <td>2012-2015</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Level</td>
                                    <td>BCA</td>
                                </tr>
                            </table>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi.
                            </p>
                        </div>
                        <div class="item">
                            <table>
                                <tr>
                                    <td class="font-weight-m width-td">Name</td>
                                    <td>APTECH</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Address</td>
                                    <td>Parray Pora, Srinagar</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Period</td>
                                    <td>2015-2016</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Level</td>
                                    <td>CCNP</td>
                                </tr>
                            </table>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <h3 class="title title-resume">Work</h3>
                <div class="block-grey">
                    <div id="work-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <table>
                                <tr>
                                    <td class="font-weight-m width-td1">Company Name</td>
                                    <td>Apexure</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Address</td>
                                    <td>Karanagar Srinagar</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Period</td>
                                    <td>2016-</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-m">Post</td>
                                    <td>Web Developer</td>
                                </tr>
                            </table>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi.
                            </p>
                        </div>
                       <!--  <div class="item">
                           <table>
                               <tr>
                                   <td class="font-weight-m width-td1">Company Name</td>
                                   <td>Themeforest</td>
                               </tr>
                               <tr>
                                   <td class="font-weight-m">Address</td>
                                   <td>Melbourne VIC</td>
                               </tr>
                               <tr>
                                   <td class="font-weight-m">Period</td>
                                   <td>2012-2015</td>
                               </tr>
                               <tr>
                                   <td class="font-weight-m">Post</td>
                                   <td>Web designer</td>
                               </tr>
                           </table>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                               veniam, quis nostrud exercitation ullamco laboris nisi.
                           </p>
                       </div> -->

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Content section -->