    <!-- Start Testimonials section -->
    <section class="padding-block text-center testimonials border-bottom">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Testimonials</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="block-grey">
                        <div class="slider_container">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="col-xs-12 col-sm-5 col-lg-5">
                                            <img class="foto" src="assets/img/img-100x100.jpg" alt="Ukieweb">
                                            <!-- Title Page -->
                                            <h4 class="sub-title">Damon Guzman</h4>
                                            <!-- Description Page -->
                                            <p>New Agency, LLC</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                            <table>
                                                <tr>
                                                    <td class="font-weight-m width-td1">I like Zaid's work</td>
                                                    <td>August 21, 2016</td>
                                                </tr>
                                            </table>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi.
                                            </p>
                                            <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-sm-5 col-lg-5">
                                            <img class="foto" src="assets/img/img-100x100.jpg" alt="Ukieweb">
                                            <!-- Title Page -->
                                            <h4 class="sub-title">Kirk Collins</h4>
                                            <!-- Description Page -->
                                            <p>New Agency, LLC</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                            <table>
                                                <tr>
                                                    <td class="font-weight-m width-td1">New styles of home page are available</td>
                                                    <td>August 11, 1996</td>
                                                </tr>
                                            </table>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi.
                                            </p>
                                            <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-sm-5 col-lg-5">
                                            <img class="foto" src="assets/img/img-100x100.jpg" alt="Ukieweb">
                                            <!-- Title Page -->
                                            <h4 class="sub-title">Melissa Hill</h4>
                                            <!-- Description Page -->
                                            <p>New Agency, LLC</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                            <table>
                                                <tr>
                                                    <td class="font-weight-m width-td1">How to ?</td>
                                                    <td>August 18, 2000</td>
                                                </tr>
                                            </table>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi.
                                            </p>
                                            <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Testimonials section -->

</section>
<!-- End Resume section -->