<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

  {% include head.html %}
  {% include main-banner.html %}
  {% include about-me.html %}
  {% include pricing.html %}
  {% include instagram-and-callender.html %}
  {% include my-thoughts.html %}
  {% include resume.html %}
  {% include skills.html %}
  {% include hobbies-experience.html %}
  {% include testimonial.html %}
  {% include portfolio.html %}
  {% include blog.html %}
  {% include contact-form.html %}



  {% include footer.html %}

</html>